@page
@using Turnierplan.ImageStorage
@model Turnierplan.App.Pages.InvitationForm
@inject IImageStorage ImageStorage

@{
    Layout = "_Layout";

    var invitationLink = Model.Data;
    ViewData["Title"] = invitationLink is null ? "Formular nicht gefunden" : invitationLink.Title ?? "Anmeldeformular";
}

@if (invitationLink is null)
{
    <div class="container px-2 px-lg-5">
        <div class="text-danger">
            Der Link ist ungültig oder das gesuchte Formular existiert nicht.
        </div>
    </div>
}
else
{
    <div class="container px-0" style="max-width: 650px;">
        <div class="mt-5 border shadow d-flex flex-column">
            <div style="background: #3c3c3c" class="py-2 text-center text-white fw-bold fs-5">
                @invitationLink.Title
            </div>
            <div class="bg-white pt-4 p-3 d-flex flex-column gap-2">
                @{
                    var hasAtLeastOneLogo = invitationLink.PrimaryLogo is not null || invitationLink.SecondaryLogo is not null;
                    var hasDescription = !string.IsNullOrWhiteSpace(invitationLink.Description);

                    var hasContactPerson = !string.IsNullOrWhiteSpace(invitationLink.ContactPerson);
                    var hasContactEmail = !string.IsNullOrWhiteSpace(invitationLink.ContactEmail);
                    var hasContactTelephone = !string.IsNullOrWhiteSpace(invitationLink.ContactTelephone);
                }
                
                @if (hasAtLeastOneLogo)
                {
                    <div class="d-flex flex-row justify-content-evenly">
                        @if (invitationLink.PrimaryLogo is not null)
                        {
                            <img style="width: 9em;" src="@ImageStorage.GetFullImageUrl(invitationLink.PrimaryLogo)" alt="@invitationLink.PrimaryLogo.Name"/>
                        }
                        @if (invitationLink.SecondaryLogo is not null)
                        {
                            <img style="width: 9em;" src="@ImageStorage.GetFullImageUrl(invitationLink.SecondaryLogo)" alt="@invitationLink.SecondaryLogo.Name"/>
                        }
                    </div>
                }

                @if (hasDescription)
                {
                    <div>
                        @invitationLink.Description
                    </div>
                }
                
                @if (hasAtLeastOneLogo || hasDescription)
                {
                    <hr class="my-3" />
                }

                @if (hasContactPerson || hasContactEmail || hasContactTelephone)
                {
                    <div class="d-flex flex-column gap-1">
                        <div class="fw-bold mb-2">Kontakt zum Veranstalter:</div>
                        @if (hasContactPerson)
                        {
                            <div>@invitationLink.ContactPerson</div>
                        }
                        @if (hasContactEmail)
                        {
                            <div>
                                <img src="./assets/envelope.svg" alt="EMail-Icon" class="me-1" />
                                <span>@invitationLink.ContactEmail</span>
                            </div>
                        }
                        @if (hasContactTelephone)
                        {
                            <div>
                                <img src="./assets/telephone.svg" alt="Telefon-Icon" class="me-1" />
                                <span>@invitationLink.ContactTelephone</span>
                            </div>
                        }
                    </div>

                    <hr class="my-3" />
                }

                <div>
                    TODO
                </div>
            </div>
        </div>
    </div>
}
